html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
	scroll-behavior: smooth;

}
body {
	margin: 0;
	color: white;
	font-size : 20px;
	font-family: monospace;
}

#background {
	background-color: #002854;
}

#container {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			background-color: #002854;

		}



		footer {
			background-color: #ed171f;
			color: black;
			font-size: 1.25em;
			height: 250px;
			padding-top: 15px;
			margin: 0;
			font-family: monospace;
			font-weight: bold;
			color: white;
			width: 100%;
		}

		nav {
			top: 0;
			padding: 10px;
			text-align: center;
			font-weight : bold;
			font-size : 1.5em;
			background-color: #ed171f;
			height: 40px;
			font-family: monospace;
			overflow: hidden;
			color: white;
		}

		nav a{
			text-decoration: none; 
			color: white;
			display: inline-block;
			padding: 5px 10px;

		}

		nav a:hover {
  			background-color: white;
  			color: #de1a32;
		}

		nav a.active {
  			border-bottom: white;
		}

		h1 {
			color: white;
			text-align: center;
		}

		h2 {
			padding-left: 50px;
			padding-top: 100px;
		}

		p {
			font-size: 25px;
			padding-left: 50px;
			padding-right: 50px;
			padding-bottom: 100px;
			line-height: 1.8;
		}

		hr {
			height:2px;border-width:0;color:#ed171f;background-color:#de1a32
		}

		ul {
			font-size: 25px;
			padding-left: 50px;
			padding-bottom: 100px;
		}

		.center {
  			display: block;
  			margin-left: auto;
  			margin-right: auto;
  			width: 25%;
		}

		.redborder {
			border-bottom: 5px solid #de1a32;
		}

		.homeimg {
			float: right;
			width: 27%;
			padding-left: 50px;
			padding-right: 100px;
		}

		.homeimg {
			float: right;
			width: 27%;
			padding-left: 50px;
			padding-right: 100px;
		}
		.homeimg2 {
			float: right;
			width: 27%;
			padding-left: 50px;
			padding-right: 100px;
		}

		.galleryimg {
			width: 19%;
			padding-left: 145px;
			padding-right: 100px;
			padding-bottom: 75px;
		}

		.footerimg {
			float: left;
			padding-left: 600px;
			padding-right: 75px;
		}

		.onsnow {
			padding-right: 1px;
		}


		@media (max-width: 1200px) {
    body {
        font-size: 16px;
    }

    h2 {
        padding-left: 20px;
        padding-top: 40px;
    }

    p, ul {
        padding: 20px;
        font-size: 18px;
    }

    .homeimg, .homeimg2, .galleryimg {
        float: none;
        display: block;
        width: 80%;
        margin: 20px auto;
        padding: 0;
    }

    .footerimg {
        float: none;
        display: block;
        padding: 0;
        margin: 20px auto;
        width: 20%;
    }

    .center {
        width: 80%;
    }


    nav {
        font-size: 1.0em;
        height: auto;
        padding: 15px 5px;
    }

    nav a {
        margin: 10px 0;
        font-size: 1.1em;
    }

    footer {
        height: auto;
        text-align: center;
        padding: 20px;
    }
}

		
